<div class="container">
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{footballClub.logo}}" style="width: 150px; height: auto">
                <h1 class="mt-4">{{footballClub.name}}</h1>
                <p class="my-3">Head coach: {{footballClub.coach}}</p>
                <p class="my-3">Stadium: {{footballClub.stadium}}</p>
                <p class="my-3">Location: {{footballClub.location}}</p>
            </div>
            <div class="col-lg-8">
                <h2>Latest match results</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{footballClub.youtubeID}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>